<link href="https://fonts.googleapis.com/css?family=Special+Elite|Cinzel+Decorative&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/signup/signup.css"> 

    
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div id="signup-body">
                    <form id="signup-form">
                        
                        <label>Username</label>
                        <input id="username" type="text" name="username" placeholder="" required>

                        <label>Email</label>
                        <input id="email" type="email" name="email" placeholder="" required>

                        <label>Password</label>
                        <input id="password" type="password" name="password" required>  

                        <input id="submit-btn" type="submit" value="Submit">
                        
                    </form>

                    <a href="/login">Already signed up?</a>

                </div>
            </div>
            <div class="col-lg-2"></div>

        </div>
    </div>

    <script src="typed.js/lib/typed.js"></script>
        <script src="js/signup/signup.js"></script>


</body>
